**STAGE 1: TOTAL EMISSIONS RANKINGS**  

The analysis identifies food products with the highest and the lowest total emissions. In the further step, results will be visualised in bar plot with explanations.

In [6]:
#Importing necessary libraries
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

#Importing dataset
food = pd.read_csv('clean.csv')
food.head(10)

,food_product,land_use_change,animal_feed,farm,processing,transport,packaging,retail,total_emissions
0,Wheat & Rye (Bread),0.1,0.0,0.8,0.2,0.1,0.1,0.1,1.4
1,Maize (Meal),0.3,0.0,0.5,0.1,0.1,0.1,0.0,1.1
2,Barley (Beer),0.0,0.0,0.2,0.1,0.0,0.5,0.3,1.1
3,Oatmeal,0.0,0.0,1.4,0.0,0.1,0.1,0.0,1.6
4,Rice,0.0,0.0,3.6,0.1,0.1,0.1,0.1,4.0
5,Potatoes,0.0,0.0,0.2,0.0,0.1,0.0,0.0,0.3
6,Cassava,0.6,0.0,0.2,0.0,0.1,0.0,0.0,0.9
7,Cane Sugar,1.2,0.0,0.5,0.0,0.8,0.1,0.0,2.6
8,Beet Sugar,0.0,0.0,0.5,0.2,0.6,0.1,0.0,1.4
9,Other Pulses,0.0,0.0,1.1,0.0,0.1,0.4,0.0,1.6

In [10]:
#Finding the top ten food products with the highest emissions
highest_emitters = food.sort_values(by = 'total_emissions', ascending = False)
highest_emitters.head(10)

,food_product,land_use_change,animal_feed,farm,processing,transport,packaging,retail,total_emissions
33,Beef (beef herd),16.3,1.9,39.4,1.3,0.3,0.2,0.2,57.7
35,Lamb & Mutton,0.5,2.4,19.5,1.1,0.5,0.3,0.2,22.1
39,Cheese,4.5,2.3,13.1,0.7,0.1,0.2,0.3,18.9
32,Dark Chocolate,14.3,0.0,3.7,0.2,0.1,0.4,0.0,18.7
34,Beef (dairy herd),0.9,2.5,15.7,1.1,0.4,0.3,0.2,18.6
31,Coffee,3.7,0.0,10.4,0.6,0.1,1.6,0.1,16.5
42,Shrimps (farmed),0.2,2.5,8.4,0.0,0.2,0.3,0.2,9.3
16,Palm Oil,3.1,0.0,2.1,1.3,0.2,0.9,0.0,7.6
19,Olive Oil,-0.4,0.0,4.3,0.7,0.5,0.9,0.0,6.0
15,Soybean Oil,3.1,0.0,1.5,0.3,0.3,0.8,0.0,6.0

In [16]:
#Finding the top ten food products with the lowest emissions
lowest_emitters = food.sort_values(by = 'total_emissions', ascending = True)
lowest_emitters.head(10)

,food_product,land_use_change,animal_feed,farm,processing,transport,packaging,retail,total_emissions
11,Nuts,-2.1,0.0,2.1,0.0,0.1,0.1,0.0,0.2
21,Onions & Leeks,0.0,0.0,0.2,0.0,0.1,0.0,0.0,0.3
25,Citrus Fruit,-0.1,0.0,0.3,0.0,0.1,0.0,0.0,0.3
22,Root Vegetables,0.0,0.0,0.2,0.0,0.1,0.0,0.0,0.3
5,Potatoes,0.0,0.0,0.2,0.0,0.1,0.0,0.0,0.3
27,Apples,0.0,0.0,0.2,0.0,0.1,0.0,0.0,0.3
23,Brassicas,0.0,0.0,0.3,0.0,0.1,0.0,0.0,0.4
24,Other Vegetables,0.0,0.0,0.2,0.1,0.2,0.0,0.0,0.5
30,Other Fruit,0.1,0.0,0.4,0.0,0.2,0.0,0.0,0.7
10,Peas,0.0,0.0,0.7,0.0,0.1,0.0,0.0,0.8